# Hackaton Bernas da Street

In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from IPython.display import Image
import numpy as np
from sklearn.pipeline import make_pipeline
from sklearn.base import BaseEstimator, ClassifierMixin, TransformerMixin
from sklearn.impute import SimpleImputer
from sklearn import metrics
import matplotlib.pyplot as plt

import category_encoders as ce
from utils_SLU13 import *

In [2]:
df = pd.read_csv("data/train.csv")
df.head()

,id,timestamp,product_id,product_department,product_category,card_id,user_id,C15,C16,C17,C18,C19,C20,C21,amount,isfraud
0,202,1413851368636,fa41b2d8,ef5ed6b8,50e219e0,ecad2386,bd544220,300,50,2312,0,167,100075,16,195.65,0
1,9909,1413851725946,fa41b2d8,ef5ed6b8,50e219e0,ecad2386,bd544220,300,50,2312,0,167,100075,16,195.65,0
2,22692,1413851873924,fa41b2d8,ef5ed6b8,50e219e0,ecad2386,bd544220,300,50,2312,0,167,100075,16,195.65,0
3,22938,1413851651534,fa41b2d8,ef5ed6b8,50e219e0,ecad2386,bd544220,300,50,2312,0,167,100075,16,195.65,0
4,29187,1413853025188,fa41b2d8,ef5ed6b8,50e219e0,ecad2386,bd544220,300,50,2312,0,167,100075,16,195.65,0

# Data Cleaning 101

In [3]:
df.describe()

,id,timestamp,C15,C16,C17,C18,C19,C20,C21,amount,isfraud
count,5.224120e+05,5.224120e+05,522412.000000,522412.000000,522412.000000,522412.000000,522412.000000,522412.000000,522412.000000,522412.000000,522412.000000
mean,1.669530e+07,1.414202e+12,320.588156,52.683499,1660.976921,1.788004,427.071648,43592.443851,72.838093,189.437083,0.105717
std,9.127556e+06,2.084992e+08,28.896147,30.344078,1016.566892,1.366340,517.917622,49633.190195,69.107663,11.654796,0.307476
min,2.020000e+02,1.413850e+12,120.000000,20.000000,112.000000,0.000000,33.000000,-1.000000,13.000000,52.960000,0.000000
25%,1.036983e+07,1.414042e+12,320.000000,50.000000,423.000000,0.000000,35.000000,-1.000000,20.000000,191.770000,0.000000
50%,1.417443e+07,1.414132e+12,320.000000,50.000000,2227.000000,3.000000,163.000000,-1.000000,48.000000,191.770000,0.000000
75%,2.540063e+07,1.414412e+12,320.000000,50.000000,2506.000000,3.000000,687.000000,100083.000000,95.000000,191.770000,0.000000
max,3.237738e+07,1.414541e+12,1024.000000,1024.000000,2688.000000,3.000000,1839.000000,100248.000000,221.000000,229.450000,1.000000

In [4]:
df.isnull().sum()

id                    0
timestamp             0
product_id            0
product_department    0
product_category      0
card_id               0
user_id               0
C15                   0
C16                   0
C17                   0
C18                   0
C19                   0
C20                   0
C21                   0
amount                0
isfraud               0
dtype: int64

In [5]:
df.nunique()

id                    522412
timestamp             521650
product_id              1959
product_department      1251
product_category           4
card_id                 1668
user_id                82591
C15                        8
C16                        9
C17                      293
C18                        4
C19                       56
C20                      157
C21                       50
amount                  1187
isfraud                    2
dtype: int64

In [6]:
df.card_id.value_counts()

f53417e1    162255
ecad2386     63340
7358e05e     25178
d292c32f     20410
e2fcccd2     18810
3692fd30     13678
03a08c3f      9405
54c5d545      9057
5064623a      8635
e71aba61      7813
73206397      6930
e2a1ca37      6906
03528b27      6630
06ef0828      6510
66f5e02e      4436
6a7bc718      4409
f888bf4c      4270
be7c618d      4248
39947756      4078
460f4063      3816
c0c5eb49      3557
4e02fbd3      3529
c680d3dd      3350
422da614      3333
1dc72b4d      2805
170f5944      2798
2bc6bb64      2717
fb7c70a3      2242
75759a0b      2217
1d64ced5      2187
             ...
a2d0fd11         1
e2397e88         1
6a4f4821         1
85d6fece         1
18db4834         1
9e7b68a8         1
036fba6e         1
aade46ef         1
9572f81e         1
0927e6a5         1
fd73c8a7         1
70542c42         1
003def94         1
7871ed33         1
466fee25         1
d5c07b23         1
c57b52d6         1
8c0b5ace         1
562afeef         1
a9aea987         1
ce18af60         1
55e30ae9         1
c9f8e63a         1
a9cb3d7e         1
ff131459         1
b4924f7c         1
494c0201         1
b2b678e1         1
17afcc71         1
691c3665         1
Name: card_id, Length: 1668, dtype: int64

In [7]:
df = df.drop("id", axis=1)

In [8]:
df.head()

,timestamp,product_id,product_department,product_category,card_id,user_id,C15,C16,C17,C18,C19,C20,C21,amount,isfraud
0,1413851368636,fa41b2d8,ef5ed6b8,50e219e0,ecad2386,bd544220,300,50,2312,0,167,100075,16,195.65,0
1,1413851725946,fa41b2d8,ef5ed6b8,50e219e0,ecad2386,bd544220,300,50,2312,0,167,100075,16,195.65,0
2,1413851873924,fa41b2d8,ef5ed6b8,50e219e0,ecad2386,bd544220,300,50,2312,0,167,100075,16,195.65,0
3,1413851651534,fa41b2d8,ef5ed6b8,50e219e0,ecad2386,bd544220,300,50,2312,0,167,100075,16,195.65,0
4,1413853025188,fa41b2d8,ef5ed6b8,50e219e0,ecad2386,bd544220,300,50,2312,0,167,100075,16,195.65,0

## Card id investigation

## Sort timestamp and split test/train

In [9]:
df = df.sort_values(by = "timestamp").reset_index(drop = True)
df.head()

,timestamp,product_id,product_department,product_category,card_id,user_id,C15,C16,C17,C18,C19,C20,C21,amount,isfraud
0,1413849604595,c4e18dd6,85f751fd,50e219e0,92e72531,a99f214a,320,50,2480,3,297,100111,61,191.77,0
1,1413849611766,c4e18dd6,85f751fd,50e219e0,e71aba61,a99f214a,320,50,1722,0,35,-1,79,191.77,1
2,1413849613367,dd7026ee,15d93b0b,50e219e0,ecad2386,5c7c1b02,320,50,2495,2,167,100173,23,227.63,0
3,1413849619068,c4e18dd6,85f751fd,50e219e0,5e3f096f,ba2d210a,320,50,2161,0,35,100051,157,191.77,0
4,1413849625209,c4e18dd6,85f751fd,50e219e0,39947756,0ddad6d9,320,50,1955,3,163,100192,71,191.77,0

In [10]:
len(df)

522412

In [11]:
len(df.iloc[0:int(0.8*len(df))])

417929

In [12]:
len(df.iloc[int(0.8*len(df)):])

104483

In [13]:
df_train = df.iloc[0:int(0.8*len(df))].copy()
df_test = df.iloc[int(0.8*len(df)):].copy()
x_train = df_train.drop("isfraud",axis=1)
y_train = df_train[["isfraud"]]
x_test = df_test.drop("isfraud",axis=1)
y_test = df_test[["isfraud"]]

In [14]:
# initialize transformer with desired options
ordinalencoder = ce.ordinal.OrdinalEncoder()
# fit transformer to data
ordinalencoder.fit(x_train)
# create new feature by transforming the datab
x_train = ordinalencoder.transform(x_train)
x_test = ordinalencoder.transform(x_test)

# Baseline Basic Model for Dummies

In [15]:
x_train

,timestamp,product_id,product_department,product_category,card_id,user_id,C15,C16,C17,C18,C19,C20,C21,amount
0,1413849604595,1,1,1,1,1,320,50,2480,3,297,100111,61,191.77
1,1413849611766,1,1,1,2,1,320,50,1722,0,35,-1,79,191.77
2,1413849613367,2,2,1,3,2,320,50,2495,2,167,100173,23,227.63
3,1413849619068,1,1,1,4,3,320,50,2161,0,35,100051,157,191.77
4,1413849625209,1,1,1,5,4,320,50,1955,3,163,100192,71,191.77
5,1413849628516,1,1,1,6,5,320,50,2493,3,35,-1,117,191.77
6,1413849628608,1,1,1,7,6,320,50,2161,0,35,-1,157,191.77
7,1413849633950,1,1,1,8,7,320,50,196,3,303,-1,15,191.77
8,1413849639453,1,1,1,9,8,320,50,2493,3,35,100050,117,191.77
9,1413849648449,1,1,1,10,9,320,50,2480,3,297,100111,61,191.77
10,1413849651696,1,1,1,11,10,320,50,1722,0,35,-1,79,191.77
11,1413849653817,1,1,1,12,11,320,50,1637,0,161,100046,91,191.77
12,1413849655164,3,3,1,3,12,320,50,1722,0,35,-1,79,171.09
13,1413849657932,1,1,1,13,1,320,50,2480,3,297,100111,61,191.77
14,1413849663384,1,1,1,14,1,320,50,1722,0,35,100084,79,191.77
15,1413849665207,1,1,1,15,13,320,50,571,2,39,100050,32,191.77
16,1413849667332,1,1,1,16,14,320,50,2493,3,35,-1,117,191.77
17,1413849669336,1,1,1,14,1,320,50,1722,0,35,-1,79,191.77
18,1413849669503,1,1,1,17,15,320,50,2480,3,297,100111,61,191.77
19,1413849669714,1,1,1,18,1,320,50,2161,0,35,100212,157,191.77
20,1413849669806,1,1,1,10,9,320,50,2480,3,297,100111,61,191.77
21,1413849671286,1,1,1,19,16,320,50,2493,3,35,100013,117,191.77
22,1413849672727,1,1,1,17,17,320,50,1722,0,35,100083,79,191.77
23,1413849673816,1,1,1,20,1,320,50,2161,0,35,100029,157,191.77
24,1413849674073,1,1,1,21,18,320,50,1722,0,35,100084,79,191.77
25,1413849678179,1,1,1,22,19,320,50,2493,3,35,-1,117,191.77
26,1413849684325,4,4,1,3,20,320,50,2253,2,303,-1,52,217.51
27,1413849687463,1,1,1,18,1,320,50,2161,0,35,-1,157,191.77
28,1413849688310,1,1,1,22,21,320,50,2493,3,35,100013,117,191.77
29,1413849692550,1,1,1,23,22,320,50,2161,0,35,100161,157,191.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417899,1414470047740,1,1,1,1145,1,320,50,2104,3,559,-1,171,191.77
417900,1414470048012,1,1,1,104,73062,320,50,1873,3,39,100048,23,191.77
417901,1414470052811,41,55,1,3,7830,320,50,1722,0,35,-1,79,173.77
417902,1414470053645,1,1,1,476,5431,320,50,761,3,175,100075,23,191.77
417903,1414470054253,1845,649,1,3,72929,320,50,479,3,39,100075,23,120.45
417904,1414470056638,361,369,1,3,72986,300,50,544,3,39,100077,23,162.91
417905,1414470057612,1,1,1,1145,1,320,50,1722,0,35,100083,79,191.77
417906,1414470059308,1,1,1,17,9924,320,50,1873,3,39,100050,23,191.77
417907,1414470063251,1174,753,1,3,73056,320,50,2624,0,35,100081,221,167.85
417908,1414470063922,1,1,1,1145,1,320,50,2104,3,559,-1,171,191.77
417909,1414470064264,1,1,1,638,15315,320,480,2513,3,1059,-1,68,191.77
417910,1414470064906,1,1,1,109,69492,320,50,1740,3,943,100060,100,191.77
417911,1414470068610,1,1,1,56,1,320,50,761,3,175,-1,23,191.77
417912,1414470068860,1,1,1,17,68463,320,50,2556,3,167,100200,23,191.77
417913,1414470073296,1,1,1,86,72989,320,50,2647,2,35,100148,23,191.77
417914,1414470075344,1,1,1,1145,1,320,50,1722,0,35,-1,79,191.77
417915,1414470078413,1,1,1,11,70532,320,50,2556,3,167,100200,23,191.77
417916,1414470079082,1,1,1,56,1,320,50,2647,2,35,100148,23,191.77
417917,1414470082635,1,1,1,17,21730,320,50,2545,0,167,-1,221,191.77
417918,1414470083701,1,1,1,557,72973,320,50,1863,3,39,-1,23,191.77
417919,1414470083953,1,1,1,11,70532,320,50,2556,3,167,100200,23,191.77
417920,1414470085321,1,1,1,15,73063,320,50,2104,3,559,-1,171,191.77
417921,1414470087988,1,1,1,1145,1,320,50,1722,0,35,-1,79,191.77
417922,1414470090331,1,1,1,70,28915,320,50,2640,3,35,-1,23,191.77
417923,1414470091350,1,1,1,1145,1,320,50,2229,0,687,100031,48,191.77
417924,1414470092065,1,1,1,9,68084,320,50,2640,3,35,-1,23,191.77
417925,1414470096551,1,1,1,17,57529,320,50,2650,0,35,-1,157,191.77
417926,1414470097242,1,1,1,1145,1,320,50,2229,0,687,100031,48,191.77
417927,1414470098101,1,1,1,557,73007,320,50,2104,3,559,-1,171,191.77
417928,1414470099357,1,1,1,557,13617,320,50,2647,2,35,100148,23,191.77

## Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression

x_cleaned = x_train.drop(['id'])

lr = LogisticRegression(class_weight={0:0.9,1:0.1})
lr.fit(x_cleaned, y_train)

In [17]:
predicted_proba_logistic = lr.predict_proba(x_train)[:,1]
predicted_proba_logistic

array([0.01359044, 0.01359044, 0.01359044, ..., 0.01356526, 0.01356526,
       0.01356526])

In [18]:
y_pred_train = lr.predict(x_train)

In [19]:
y_pred_test = lr.predict(x_test)

In [20]:
roc_auc_logistic = metrics.roc_auc_score(y_train,lr.predict_proba(x_train)[:,1])
roc_auc_logistic

0.5101250361137177

In [21]:
lr.predict(x_test)

fpr, tpr, thresholds = metrics.roc_curve(y_score=predicted_proba_logistic, y_true=y_train.isfraud)
def plot_roc_curve(roc_auc, fpr, tpr):
    # Function to plot ROC Curve
    # Note: this is ALL just matplotlib stuff, nothing scientific about it! 
    
    # Inputs: 
    #     roc_auc - AU ROC value (float)
    #     fpr - false positive rate (output of roc_curve()) array
    #     tpr - true positive rate (output of roc_curve()) array
    
    plt.figure(figsize=(8,6))
    lw = 2
    plt.plot(fpr, tpr, color='orange', lw=lw, label='ROC curve (AUROC = %0.2f)' % roc_auc)
    plt.plot([0, 1], [0, 1], color='navy', lw=lw, linestyle='--', label='random')
    plt.xlim([-0.05, 1.0])
    plt.ylim([0.0, 1.05])
    plt.grid()
    plt.xlabel('False Positive Rate')
    plt.ylabel('True Positive Rate')
    plt.title('Receiver operating characteristic example')
    plt.legend(loc="lower right")
    plt.show()
plot_roc_curve(roc_auc_logistic, fpr, tpr)

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

## Random Forest

#

In [23]:
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor


clf = DecisionTreeClassifier(criterion='entropy')

clf.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [24]:
feature_importances = pd.Series(data=clf.feature_importances_, index=x_train.columns)
feature_importances.sort_values(ascending=False)

timestamp             0.442668
user_id               0.254362
card_id               0.091312
C20                   0.048608
C21                   0.030842
product_department    0.026927
C17                   0.026812
C19                   0.022426
amount                0.020439
product_id            0.019141
C18                   0.006653
C16                   0.005189
C15                   0.004620
product_category      0.000000
dtype: float64

In [ ]:
y_pred_train = clf.predict(x_train)
y_pred_test = clf.predict(x_test)
roc_auc_logistic = metrics.roc_auc_score(y_train,lr.predict_proba(x_train)[:,1])
roc_auc_logistic

In [ ]:
fpr, tpr, thresholds = metrics.roc_curve(y_score=predicted_proba_logistic, y_true=y_train.isfraud)
def plot_roc_curve(roc_auc, fpr, tpr):
    # Function to plot ROC Curve
    # Note: this is ALL just matplotlib stuff, nothing scientific about it! 
    
    # Inputs: 
    #     roc_auc - AU ROC value (float)
    #     fpr - false positive rate (output of roc_curve()) array
    #     tpr - true positive rate (output of roc_curve()) array
    
    plt.figure(figsize=(8,6))
    lw = 2
    plt.plot(fpr, tpr, color='orange', lw=lw, label='ROC curve (AUROC = %0.2f)' % roc_auc)
    plt.plot([0, 1], [0, 1], color='navy', lw=lw, linestyle='--', label='random')
    plt.xlim([-0.05, 1.0])
    plt.ylim([0.0, 1.05])
    plt.grid()
    plt.xlabel('False Positive Rate')
    plt.ylabel('True Positive Rate')
    plt.title('Receiver operating characteristic example')
    plt.legend(loc="lower right")
    plt.show()
plot_roc_curve(roc_auc_logistic, fpr, tpr)